page-home ion-col {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;

    ion-icon {
        // margin: 0 auto;
        position: absolute;
        top: 15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
    }

    p {
        line-height: 20px;
    }
}
